.main {
display: grid;
grid: 2.5rem 500px / auto-flow;
 text-align: center;
margin: 10px;
height: 100%;
}



.description{
  font-size: 1.4rem;

}

.sandBox{
display: flex;
flex-flow: column wrap;
justify-content: center;

}

